<div class="homeHeading"><span>Products to be delivered today</span><span class="info"> (Double click Address cell to update it and Generate Map, if address is incorrect)</span></div>
<form>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</form>
<div class="buttonContainer">
    <button ng-click="generateMap()" class="generateMap">Generate Map</button>
    <input class="clientInput" ng-model="orderNumber" type="text" placeholder="Enter order number"/>
    <button ng-click="trackLocation()" class="generateMap">Track client</button>
</div>

<div class="homeHeading"><span>Follow map to deliver items quickly </span><span class="info"> (Alphabetically ordered locations will guide you to deliver in shortest path)</span></div>
<div id="map" style="width: 400px; height: 300px;"></div>
